* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(184, 74, 156);
  background: radial-gradient(
    circle,
    rgba(184, 74, 156, 0.34715821812596004) 21%,
    rgba(184, 74, 156, 0.34715821812596004) 36%,
    rgba(33, 69, 111, 1) 100%
  );
}

header,
footer {
  background-color: chocolate;
  height: 100px;
  padding: 2rem;
}

footer {
  text-align: center;
}

main {
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div {
  margin: 0 auto;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: chocolate;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
}

.odd {
  background-color: darkorange;
}
.even {
  background-color: rgb(101, 44, 3);
}
